## .NET Framework / .NET Core

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Build Results
project.lock.json
project.fragment.lock.json
artifacts/

# Output directories
inventarios/

# User-specific files
App.config.user
*.user.config

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml
