<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AZDO_SERVER_URL" value="https://your-server.company.com/tfs"/>
    <add key="AZDO_COLLECTION" value="DefaultCollection"/>
    <add key="AZDO_PAT" value=""/>
    <add key="AZDO_VERIFY_SSL" value="True"/>
    <add key="AZDO_API_VERSION" value="7.0"/>
    <add key="OUTPUT_DIR" value="./inventarios"/>
  </appSettings>
</configuration>
